.ninja-style {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 4rem;
}

button {
  margin: 10px;
}

html {
  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h1, h2, h3 {
  text-align: center;
}

a {
  text-decoration: underline;
  color: black;
}
