<footer>
  <div class="container">
    <div class="row justify-content-end">
      <div>
        <p>
          Designed and developed with ♥ in Québec city.
        </p>
      </div>
    </div>
  </div>
</footer>